In [11]:
import pandas as pd
import numpy as np
from IPython.display import display


file_name = 'Camp_Market_cleaned_omar.csv'
df = pd.read_csv(file_name, delimiter=';')

# Définition des Bornes de Quantiles (Âge et Revenu)

In [12]:

age_qcut_series, age_bins = pd.qcut(df['Age'], q=4, retbins=True)

print("\n Bornes pour Age Groupe (Quartiles d'Age) ")

print(f"  Q1_Age (les 25% plus jeunes): de {age_bins[0]} à {age_bins[1]} ans")
print(f"  Q2_Age (25% suivants):      de {age_bins[1]} à {age_bins[2]} ans")
print(f"  Q3_Age (25% suivants):      de {age_bins[2]} à {age_bins[3]} ans")
print(f"  Q4_Age (les 25% plus âgés):   de {age_bins[3]} à {age_bins[4]} ans")


# --- 3. Calcul et affichage des bornes pour 'Income_Group' ---
# retbins=True renvoie les bornes (bins)
income_qcut_series, income_bins = pd.qcut(df['Income'], q=4, retbins=True)

print("\n Bornes pour Income Groupe (Quartiles de Revenu) ")

# .2f formate le nombre avec 2 décimales pour l'affichage
print(f"  Q1_Income (les 25% revenus les plus bas): de {income_bins[0]:.2f} à {income_bins[1]:.2f}")
print(f"  Q2_Income (25% suivants):               de {income_bins[1]:.2f} à {income_bins[2]:.2f}")
print(f"  Q3_Income (25% suivants):               de {income_bins[2]:.2f} à {income_bins[3]:.2f}")
print(f"  Q4_Income (les 25% revenus les plus hauts): de {income_bins[3]:.2f} à {income_bins[4]:.2f}")

 Bornes pour Age Groupe (Quartiles d'Age)
  Q1_Age (les 25% plus jeunes): de 29.0 à 48.0 ans
  Q2_Age (25% suivants):      de 48.0 à 55.0 ans
  Q3_Age (25% suivants):      de 55.0 à 66.0 ans
  Q4_Age (les 25% plus âgés):   de 66.0 à 85.0 ans

 Bornes pour Income Groupe (Quartiles de Revenu)
  Q1_Income (les 25% revenus les plus bas): de 1730.00 à 35523.00
  Q2_Income (25% suivants):               de 35523.00 à 51381.50
  Q3_Income (25% suivants):               de 51381.50 à 68281.00
  Q4_Income (les 25% revenus les plus hauts): de 68281.00 à 666666.00

# Analyse de la Campagne "Response = 1"

In [13]:

# Définition des variables de DÉPENSES
mnt_columns = [
    'MntWines', 
    'MntFruits', 
    'MntMeatProducts', 
    'MntFishProducts', 
    'MntSweetProducts', 
    'MntGoldProds'
]

# Définition des variables de FRÉQUENCE (SANS TotalPurchases)
num_columns = [
    'NumDealsPurchases',
    'NumWebPurchases',
    'NumCatalogPurchases',
    'NumStorePurchases',
    'NumWebVisitsMonth'
    # TotalPurchases a été retiré
]

# Définition de la palette de couleurs
cmap_colors = 'Greens'

# --- 3. Discrétisation des variables continues (Âge et Revenu) ---
try:
    # Stratégie de discrétisation par quantiles (effectifs égaux)
    df['Age_Group'] = pd.qcut(df['Age'], q=4, labels=['Q1_Age', 'Q2_Age', 'Q3_Age', 'Q4_Age'])
    df['Income_Group'] = pd.qcut(df['Income'], q=4, labels=['Q1_Income', 'Q2_Income', 'Q3_Income', 'Q4_Income'])

except ValueError as e:
    # Fallback : stratégie par intervalles égaux
    print(f"Erreur de discrétisation (qcut) : {e}. Passage en 'cut'.")
    df['Age_Group'] = pd.cut(df['Age'], bins=4, labels=['Bin1_Age', 'Bin2_Age', 'Bin3_Age', 'Bin4_Age'])
    df['Income_Group'] = pd.cut(df['Income'], bins=4, labels=['Bin1_Income', 'Bin2_Income', 'Bin3_Income', 'Bin4_Income'])


# --- 4. Définition des groupes croisés --- MODIFICATION ---
# On filtre le DataFrame pour ne garder que ceux qui ont accepté
df_acceptants = df[df['Response'] == 1].copy()

# On met à jour les clés (Response est inutile, c'est toujours 1)
grouping_keys = ['Age_Group', 'Income_Group']


print("\n--- Analyse Croisée (Acceptants Uniquement) : DÉPENSES (Mnt) ---")

# --- 5. Heatmap : Dépenses (Mnt) par [Age_Group, Income_Group] --- MODIFICATION ---
mnt_analysis_crossed = df_acceptants.groupby(grouping_keys, observed=True)[mnt_columns].sum()
display(mnt_analysis_crossed.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées (Mnt) par Âge et Revenu (Acceptants Uniquement)"))


print("\n--- Analyse Croisée (Acceptants Uniquement) : FRÉQUENCES (Num) ---")

# --- 6. Heatmap : Fréquences (Num) par [Age_Group, Income_Group] --- MODIFICATION ---
num_analysis_crossed = df_acceptants.groupby(grouping_keys, observed=True)[num_columns].sum()
display(num_analysis_crossed.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées (Num) par Âge et Revenu (Acceptants Uniquement)"))

--- Analyse Croisée (Acceptants Uniquement) : DÉPENSES (Mnt) ---

--- Analyse Croisée (Acceptants Uniquement) : FRÉQUENCES (Num) ---

# Analyse de la Fréquence d'Achat par Segment

In [14]:


# --- 2. Pré-traitement et configuration de l'analyse ---

# === MODIFICATION ICI ===
# Définition des variables quantitatives (Nombre d'achats/visites)
columns_to_analyze = [
    'NumDealsPurchases',
    'NumWebPurchases',
    'NumCatalogPurchases',
    'NumStorePurchases',
    'NumWebVisitsMonth',
    
]

# Définition de la palette de couleurs (séquentielle 'Greens')
cmap_colors = 'Greens'

# --- 3. Discrétisation des variables continues (Âge et Revenu) ---
# (Cette partie reste identique)
try:
    # Stratégie de discrétisation par quantiles (effectifs égaux)
    df['Age_Group'] = pd.qcut(df['Age'], q=4, labels=['Q1_Age', 'Q2_Age', 'Q3_Age', 'Q4_Age'])
    df['Income_Group'] = pd.qcut(df['Income'], q=4, labels=['Q1_Income', 'Q2_Income', 'Q3_Income', 'Q4_Income'])
  
except ValueError as e:
    # Fallback : stratégie par intervalles égaux
    print(f"Erreur de discrétisation (qcut) : {e}. Passage en 'cut'.")
    df['Age_Group'] = pd.cut(df['Age'], bins=4, labels=['Bin1_Age', 'Bin2_Age', 'Bin3_Age', 'Bin4_Age'])
    df['Income_Group'] = pd.cut(df['Income'], bins=4, labels=['Bin1_Income', 'Bin2_Income', 'Bin3_Income', 'Bin4_Income'])


# --- 4. Analyse : Somme des Fréquences par Niveau d'études ---
education_analysis = df.groupby('Education')[columns_to_analyze].sum()
display(education_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par niveau d'études"))

# --- 5. Analyse : Somme des Fréquences par Statut marital ---
marital_analysis = df.groupby('Marital_Status')[columns_to_analyze].sum()
display(marital_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par statut marital"))

# --- 6. Analyse : Somme des Fréquences par Nombre total d'enfants ---
total_kids_analysis = df.groupby('TotalKids')[columns_to_analyze].sum()
display(total_kids_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par nombre total d'enfants"))

# --- 7. Analyse : Somme des Fréquences par Enfants (0-12 ans) ---
kidhome_analysis = df.groupby('Kidhome')[columns_to_analyze].sum()
display(kidhome_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par nombre de jeunes enfants"))

# --- 8. Analyse : Somme des Fréquences par Adolescents ---
teenhome_analysis = df.groupby('Teenhome')[columns_to_analyze].sum()
display(teenhome_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par nombre d'adolescents"))

# --- 9. Analyse : Somme des Fréquences par Groupe d'âge (quartiles) ---
age_group_analysis = df.groupby('Age_Group', observed=True)[columns_to_analyze].sum()
display(age_group_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par groupe d'âge"))

# --- 10. Analyse : Somme des Fréquences par Total de campagnes marketing acceptées ---
acceptedcmp_analysis = df.groupby('AcceptedCmp_total')[columns_to_analyze].sum()
display(acceptedcmp_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par total de campagnes acceptées"))

# --- 11. Analyse : Somme des Fréquences par Groupe de revenu (quartiles) ---
income_group_analysis = df.groupby('Income_Group', observed=True)[columns_to_analyze].sum()
display(income_group_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Fréquences cumulées par groupe de revenu"))

#  Analyse de la Fréquence basée sur les Habitudes de Dépenses

In [15]:


# Définition des variables quantitatives à agréger (calcul de la somme)
columns_to_analyze = [
    'MntWines', 
    'MntFruits', 
    'MntMeatProducts', 
    'MntFishProducts', 
    'MntSweetProducts', 
    'MntGoldProds'
]

# Définition de la palette de couleurs (séquentielle 'Greens')
# Valeurs basses = vert clair, Valeurs hautes = vert foncé
cmap_colors = 'Greens'

# --- 3. Discrétisation des variables continues (Âge et Revenu) ---
try:
    # Stratégie de discrétisation par quantiles (effectifs égaux)
    df['Age_Group'] = pd.qcut(df['Age'], q=4, labels=['Q1_Age', 'Q2_Age', 'Q3_Age', 'Q4_Age'])
    df['Income_Group'] = pd.qcut(df['Income'], q=4, labels=['Q1_Income', 'Q2_Income', 'Q3_Income', 'Q4_Income'])
except ValueError as e:
    # Fallback : stratégie par intervalles égaux (si qcut échoue, ex: doublons)
    print(f"Erreur de discrétisation (qcut) : {e}. Passage en 'cut'.")
    df['Age_Group'] = pd.cut(df['Age'], bins=4, labels=['Bin1_Age', 'Bin2_Age', 'Bin3_Age', 'Bin4_Age'])
    df['Income_Group'] = pd.cut(df['Income'], bins=4, labels=['Bin1_Income', 'Bin2_Income', 'Bin3_Income', 'Bin4_Income'])



# --- 4. Analyse : Somme des dépenses par Niveau d'études ---
education_analysis = df.groupby('Education')[columns_to_analyze].sum()
display(education_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par niveau d'études"))

# --- 5. Analyse : Somme des dépenses par Statut marital ---
marital_analysis = df.groupby('Marital_Status')[columns_to_analyze].sum()
display(marital_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par statut marital"))

# --- 6. Analyse : Somme des dépenses par Nombre total d'enfants ---
total_kids_analysis = df.groupby('TotalKids')[columns_to_analyze].sum()
display(total_kids_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par nombre total d'enfants"))

# --- 7. Analyse : Somme des dépenses par Enfants (0-12 ans) ---
kidhome_analysis = df.groupby('Kidhome')[columns_to_analyze].sum()
display(kidhome_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par nombre de jeunes enfants"))

# --- 8. Analyse : Somme des dépenses par Adolescents ---
teenhome_analysis = df.groupby('Teenhome')[columns_to_analyze].sum()
display(teenhome_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par nombre d'adolescents"))

# --- 9. Analyse : Somme des dépenses par Groupe d'âge (quartiles) ---
age_group_analysis = df.groupby('Age_Group', observed=True)[columns_to_analyze].sum()
display(age_group_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par groupe d'âge"))

# --- 10. Analyse : Somme des dépenses par Total de campagnes marketing acceptées ---
acceptedcmp_analysis = df.groupby('AcceptedCmp_total')[columns_to_analyze].sum()
display(acceptedcmp_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par total de campagnes acceptées"))

# --- 11. Analyse : Somme des dépenses par Groupe de revenu (quartiles) ---
income_group_analysis = df.groupby('Income_Group', observed=True)[columns_to_analyze].sum()
display(income_group_analysis.style.background_gradient(cmap=cmap_colors, axis=None)
        .set_caption("Dépenses cumulées par groupe de revenu"))